.apple-text-gradient {
  font-weight: bold;
  /* 1. Usamos un gradiente más ancho (200%) para que tenga espacio para moverse */
  background-image: linear-gradient(to right, #50C878, #FFD700, #9370DB, #50C878);
  background-size: 200% auto;

  /* 2. Clip del fondo al texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Transparencia para revelar el gradiente */
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* Forzamos transparencia */

  /* 4. Animación: Hace que la energía "fluya" */
  animation: shine 4s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.app-about-me {
  z-index: -1;
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 80%;
  height: 32dvh;
  background-image: url("/Aura-original.jpeg");
  background-size: cover;
  background-position: 50% 85%;
  background-repeat: no-repeat;

  -webkit-mask-image: radial-gradient(circle at 50% 80%,
      black 20%,
      transparent 90%);
  mask-image: radial-gradient(circle at 50% 80%,
      black 35%,
      transparent 90%);
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .app-about-me {
    width: 100%;
    height: 28dvh;

    background-position: 50% 90%;
  }
}

.voltpath-background {

  background: linear-gradient(135deg, #0b78ab 0%, #2dd4bf 45%, #4ade80 85%, #83cc16d0 100%);
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50%)); }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  width: max-content;
}


