
<div class=" h-full w-[70%] overflow-hidden relative mb-[1%]
            mask-[linear-gradient(to_right,transparent,black_15%,black_85%,transparent)]">
  <div class="flex w-max animate-scroll h-full items-center">
    @for (tecnologia of tecnologias; track $index) {
    <div class="min-w-15 h-full flex items-center justify-center">
      <img class="w-10  object-contain" src="{{tecnologia.url}}" alt="{{tecnologia.name}}" />
    </div>
    }
    @for (tecnologia of tecnologias; track $index) {
    <div class="min-w-15 h-full flex items-center justify-center px-2">
      <img class="w-10 object-contain" src="{{tecnologia.url}}" alt="{{tecnologia.name}}" />
    </div>
    }
  </div>
</div>
<div class=" w-[20%] h-full rounded-md bg-white/30 flex items-center justify-end ">
 Ver más
</div>
