<div class=" h-full mx-auto overflow-hidden relative mb-[1%]
            mask-[linear-gradient(to_right,transparent,black_10%,black_90%,transparent)]">
  <div class="flex w-max animate-scroll h-full items-center">
    @for (tecnologia of tecnologias; track $index) {
    <div class="min-w-14 h-full flex items-center justify-center">
      <img class="max-w-8  " src="{{tecnologia.url}}" alt="{{tecnologia.name}}" />
    </div>
    }
    @for (tecnologia of tecnologias; track $index) {
    <div class="min-w-14 h-full flex items-center justify-center px-2">
      <img class="max-w-8 object-contain" src="{{tecnologia.url}}" alt="{{tecnologia.name}}" />
    </div>
    }
  </div>
</div>
<button onclick="my_modal_4.showModal()"
  class="btn border-0 rounded-md z-1 bg-white/30 shadow-[2px_2px_2px_rgba(0,0,0,0.341)] backdrop-blur-sm">
  +
</button>
<dialog id="my_modal_4" class="modal">
  <div class="modal-box h-5/6">
    <div method="dialog" class="modal-backdrop  text-black  p-2">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>

      <select class="select my-2" [(ngModel)]="categoriaSeleccionada">
        <option value="todos">Todos</option>
        <option value="Frontend">Frontend</option>
        <option value="Backend">Backend</option>
        <option value="IDE">IDE</option>
        <option value="Game Dev.">Game Dev.</option>

      </select>
      <div class="h-5/6 overflow-scroll">
        <!-- Mostrar según selección -->
        @if (categoriaSeleccionada === 'todos') {
        @for (categoria of categorias; track categoria.tipo) {
        <h1>{{categoria.titulo}}</h1>
        @for (tech of getTechByTipo(categoria.tipo); track tech.name) {
        <div class="text-lg flex font-bold text-center">
          {{tech.name}}
          <img class="w-8" [src]="tech.url" [alt]="tech.name">
        </div>
        }
        }
        } @else {
        <h1>{{categoriaSeleccionada}}</h1>
        @for (tech of getTechByTipo(categoriaSeleccionada); track tech.name) {
        <div class="text-lg flex font-bold text-center">
          {{tech.name}}
          <img class="w-8" [src]="tech.url" [alt]="tech.name">
        </div>
        }
        }
      </div>
    </div>
  </div>

</dialog>
