@use 'swiper/swiper.min.css';
@use 'swiper/modules/navigation.min.css';
@use 'swiper/modules/pagination.min.css';

@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light;
}

body {
  font-family: "Protest Strike", sans-serif;
  background: rgb(255, 255, 255);
  background: radial-gradient(
      #F2F2F2 0%,
      rgb(24, 30, 36) 73%);


  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);

  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
